<!doctype html>
<html>
<head>
  <title>Microservice WEB interface for Tesseract OCR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="./bootstrap-treeview.js"></script>

    <style>

    .jumbotron {
      background-color: #337ab7;
      background-image: linear-gradient(#54b4eb, #2fa4e7 30%, #337ab7 75%);
      height: 200px;
      color: white;
      text-shadow: #444 0 1px 1px;
      padding-left: 5%;
      width: 100%;
    }

    .container { margin: 0 auto; }

    .row { margin: 0 5%; }

    .upload {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin-bottom: 10px;
    }

    .input-group { width: 75%; }

    .response { margin: 10px 0; }

    #logo-header {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      z-index: 10;
    }

    #logo-header img {
      width: 80px;
      height: 49px;
    }

    #processing { text-align: center;}

    #response-header { margin-bottom: 10px; }

    #response-header, #treeview, #processing, .progress { display: none }
    </style>
</head>
<body>
      <div class="jumbotron">
        <h1>Microservice WEB interface for Tesseract OCR</h1>
        <p><small>v0.1</small></p>
      </div>

      <!--upload elements-->
      <div class='container'>
        <div class="row upload">
            <div class="input-group">
              <span class="input-group-btn">
                  <button class="btn btn-primary" id="select_button" type="button">Select PDF</button>
                  <input type="file" id="datafile" accept="application/pdf" style="display: none;" multiple>
              </span>
              <input id="selectedFile" type="text" class="form-control" readonly>
            </div>
          <input class="btn btn-primary" type="button" id="upload_button" value="Submit!">
        </div>

        <!--progress bar-->
        <div class="row">
          <div class="progress">
            <div id="_progress" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="response" id="_response"></div>
        </div>

        <!--optional response-->
        <h3 id="response-header" class="row">Response</h3>

        <div id="processing">
          <img src="processing.gif" alt="Processing-gif">
        </div>

        <!--tree for the response-->
        <div id="treeview" class="treeview row"></div>
    </div>

    <script>
      document.getElementById("select_button").onclick = function() {selectFile()};
      document.getElementById("upload_button").onclick = function() {uploadFile()};

      _progress = document.getElementById('_progress');
      _response = document.getElementById('_response');

      $('input[type=file]').change(function (e) {
        $('#selectedFile').val($(this).val());
      });

      String.prototype.escapeSpecialChars = function() {
          return this.replace(/\\n/g, "\\n")
                     .replace(/\\'/g, "\\'")
                     .replace(/\\"/g, '\\"')
                     .replace(/\\&/g, "\\&")
                     .replace(/\\r/g, "\\r")
                     .replace(/\\t/g, "\\t")
                     .replace(/\\b/g, "\\b")
                     .replace(/\\f/g, "\\f");
      };

      // select button
      function selectFile(e) {
          clearProgress()
          document.getElementById('datafile').click();
      }

      // upload button
      function uploadFile(e) {

          if($('#datafile')[0].files[0] == undefined){
            console.log();
            clearProgress()
            return;
          }

          // init progress-bar
          _progress.parentElement.style.display = "block";
          _progress.style.width = 0;

          var formData = new FormData();
          formData.append('file', $('#datafile')[0].files[0]);

          // From https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
          $.ajax({
              xhr: function()
                {
                  _response.innerHTML = "Uploading..."

                  var xhr = new window.XMLHttpRequest();
                  xhr.upload.addEventListener("progress", function(evt){
                    if (evt.lengthComputable) {
                        percentComplete = evt.loaded / evt.total;
                        _progress.style.width = percentComplete * 100 + '%'
                        console.log(percentComplete);

                        if (percentComplete == 1) {
                          _response.innerHTML = ""
                          _progress.parentElement.style.display = "none";
                          document.getElementById("processing").style.display= "block"
                        }
                    }
                  }, false);
                  return xhr;
                },
              type: 'POST',
              //url: 'http://192.168.99.100:8080/api/upload/pdf',
              url: '/api/upload/pdf',
              data: formData,
              processData: false,
              contentType: false
          }).done(function (response) {

              //document.getElementById("response-header").style.display= "block"
              document.getElementById("processing").style.display= "none"
              document.getElementById("treeview").style.display= "block"

              // init json tree
              var json = '[' +
                    '{' +
                      '"text": "File: ' + response.pdf_filename + '"' +
                    '},' +
                    '{' +
                      '"text": "Number of pages: ' + response.number_pages + '",' +
                      '"nodes": ['

              // build the pages from the response
              for (a=0; a<response.number_pages; a++) {

                  var myJSONString = JSON.stringify(response.page_details[a].text);
                  var myEscapedJSONString = myJSONString.escapeSpecialChars();

                  json += '{' +
                          '"text": "Page ' + response.page_details[a].page_number + '",' +
                          '"nodes": [' +
                              '{' +
                                '"text": ' + myEscapedJSONString +
                              '}' +
                            '],' +
                            '"state": { "expanded": true }' +
                          '}'

                  if (a < response.number_pages - 1) { json += ',' }
              }

              // close tree
              json += ']' + '}' + ']';

              var $tree = $('#treeview').treeview({
                    data: json
              });

              // cleanup
              $("#datafile").val('');
              $("#selectedFile").val('');

          }).error(function (response) {
              console.log(response);
          });
      }

      function clearProgress(){
        _progress.parentElement.style.display = "none";
        _progress.style.width = 0;
        _response.innerHTML = ""

        document.getElementById("response-header").style.display= "none"
        document.getElementById("treeview").style.display= "none"
      }

    </script>
</body>
</html>
